
#heading
{
    color: red;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    margin: 50px;
    background: lightblue;
}

#game_table
{
    display: grid;
    background-color: lightcoral;
    grid-template-columns: repeat( 3, minmax(100px, 1fr));
    padding: 50px;
    display: none;
}

#game_table.enable
{
    display: grid;
}


.grid-item
{
    background-color: aquamarine;
    border-style:solid;
    border-color: black;
    text-align: center;
    padding: 35px;
}



#rand
{
    background-color: aqua;
    text-align: center;
    display: inline;
    padding: 10px;
    margin: 20px;
    margin-left: 140px;
}

#startdiv
{
    display: inline;
    margin-left: 300px;
}

#startdiv.disable
{
    display: none;
}

#enddiv
{
    display: inline;
    margin-left: 300px;
    display:none;
}

#enddiv.enable
{
    display: inline;
}
